<launch>

  <!--<arg name="map_file" default="$(find human_aware_nav_launch)/maps/turtlebot_at_home_map.yaml"/> -->
  <!--<arg name="map_file" default="$(find human_aware_nav_launch)/maps/social_sim_env.yaml"/> -->
  <arg name="map_file" default="$(find human_aware_nav_launch)/maps/testingground.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	
  <include file="$(find jackal_description)/launch/description.launch" />

  <!--- Run Move Base -->
  <include file="$(find human_aware_nav_launch)/launch/move_base.launch" />

  <!--<node name="ca_robo_nav" pkg="ca_robo_nav" type="planner.py" />-->

  <!--- Run rviz --> 
  <include file="$(find human_aware_nav_launch)/launch/rviz.launch" />
 
</launch>
